@model Class04.Views.Models.Dto.StudentWithCourseDto

<h1>DETAILS FOR STUDENT</h1>

<div>
    <dl class="row">
        <dt class="col-sm-2">Full Name</dt>
        <dd>@Model.FullName</dd>
        <dt class="col-sm-2">Age</dt>
        <dd>@Model.Age</dd>
        <dt class="col-sm-2">Course Name</dt>
        <dd>@Model.NameOfCourse</dd>
    </dl>
</div>
<div>
    <a>Back to list</a>
</div>